<?xml version="1.0" encoding="UTF-8"?>
<plugins>
  <pyqgis_plugin name="Topografía" version="1.0">
    <description><![CDATA[
      <p>Plugin con herramientas para cálculos topográficos avanzados, incluyendo cálculo de azimuts, rumbos, distancias, áreas y generación de reportes.</p>
      <p>Este plugin proporciona herramientas profesionales para cálculos topográficos en QGIS, incluyendo análisis de líneas y polígonos con múltiples opciones de exportación.</p>
    ]]></description>
    <about><![CDATA[
      <p><b>Plugin Topografía</b></p>
      <p><b>Versión:</b> 1.0</p>
      <p><b>Descripción:</b> Herramientas topográficas para QGIS</p>
      <p><b>Desarrollado por:</b> Omar Ruelas Santa Cruz</p>
      <p><b>Contacto:</b> omarruelassantacruz@gmail.com</p>
      <p><b>Licencia:</b> GPL v3</p>
    ]]></about>
    <version>1.0</version>
    <qgis_minimum_version>3.16</qgis_minimum_version>
    <qgis_maximum_version>3.99</qgis_maximum_version>
    <homepage>https://github.com/Hikuritamete/topografia-qgis</homepage>
    <file_name>topografia.zip</file_name>
    <author_name>Omar Ruelas Santa Cruz</author_name>
    <download_url>https://github.com/Hikuritamete/topografia-qgis/releases/download/v1.0/topografia.zip</download_url>
    <uploaded_by>OmarRuelas</uploaded_by>
    <create_date>2023-11-15</create_date>
    <update_date>2023-11-15</update_date>
    <tags>topography,topografía,azimut,rumbo,distancia,área,cálculos,bearing,area</tags>
    <icon>icon.png</icon>
    <experimental>False</experimental>
    <deprecated>False</deprecated>
    <tracker>https://github.com/Hikuritamete/topografia-qgis/issues</tracker>
    <repository>https://github.com/Hikuritamete/topografia-qgis</repository>
    <changelog><![CDATA[
      <ul>
        <li>Versión inicial con herramientas para cálculo de líneas y polígonos</li>
      </ul>
    ]]></changelog>
    <category>Vector</category>
  </pyqgis_plugin>
</plugins>